{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task List</h1>
    <a class="btn btn-success mt-3" role="button" href="{{ path('task_new') }}">New Task</a>

    <h3 class="mt-5">Past</h3>
    <ul class="list-group list-group-flush">
        {{ include('task/_list.html.twig', {'tasks': past}) }}
    </ul>

    <h3 class="mt-5">Today</h3>
    <ul class="list-group list-group-flush">
        {{ include('task/_list.html.twig', {'tasks': today}) }}
    </ul>

    <h3 class="mt-5">This week</h3>
    <ul class="list-group list-group-flush">
        {{ include('task/_list.html.twig', {'tasks': this_week}) }}
    </ul>

    <h3 class="mt-5">Future</h3>
    <ul class="list-group list-group-flush">
        {{ include('task/_list.html.twig', {'tasks': future}) }}
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.task-status-toggle').click(function() {
                console.log(this);
                let taskId = $(this).attr('data-taskId');
                let value = $(this).is(':checked');
                $.ajax({
                    url: window.location.href  + taskId + '/status',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'value': value,
                    },

                    success: function(data, status) {

                    },

                    error: function() {
                        alert('Ajax request failed.');
                    }
                });
            });
        });
    </script>
{% endblock %}
